header{
    padding: 15px 15px 15px 15px;
    background-color: crimson;
    text-align: center;
}
header img{
    border-radius: 30%;
    width: 13%;
    padding: 20px 20px 20px 20px;
}
section{
    width: 70%;
    margin: auto;
}
article{
    padding: 20px 0 20px 0;
    border-bottom: 3px dotted crimson;
}
article h2{
    text-transform: uppercase;
    float: left;
    border-bottom: 3px solid royalblue;
    padding-bottom: 1px;
    line-height: 1.3em;
}
article p, article ul{
    margin-left: 40%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    line-height: 2em; /*Espaciado entre lineas*/
}
article ul li{
    list-style-type:square;
}